body{
    min-height: 800px;
    display: flex;
    border: 8px solid black;
    gap:20px;

}
#box-1{
    margin-right: auto;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: #0071FF;
    font-size: 40px;
    color: white;
}