

.flex-box{
    min-height: 800px;
    display: flex;
    gap:20px;

}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0071FF;
    font-size: 40px;
    color: white;
}

.grid-box{
    display: grid;
    height: 100vh;
    width: 100vh;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3,150px);
    gap: 50px;
    
}

#box-1{
    grid-column-start: 1;
    grid-column-end: 4;
}

#box-2{
    grid-row-start: 2;
    grid-row-end: 6;
}